<ion-tabs>

  <ion-toolbar color="warning" slot="top">
    <ion-title>{{judul}}</ion-title>
  </ion-toolbar>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="pesanan" (click)="tap('Pesanan')">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="akun" (click)="tap('Akun')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>