<ion-content>

  <div class="ion-padding ion-text-center login-background">

    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <ion-card>
        <ion-card-header color="warning">
          Login UBMart Kurir
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label position="stacked">No. HP :</ion-label>
            <ion-input type="number" formControlName="no_hp" placeholder="Contoh : 08123456789" required></ion-input>
            <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('no_hp').hasError('required')">
              Silahkan isi Nomor HP.
            </ion-chip>
            <ion-chip color="danger" *ngIf="isSubmitted && chip_err=='hp_salah'">
              Nomor HP belum terdaftar.
            </ion-chip>
          </ion-item>

          <ion-item class="ion-margin-vertical" lines="none">
            <ion-label position="stacked">Password :</ion-label>
            <ion-input type="password" formControlName="password" placeholder="*****" required></ion-input>
            <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password').hasError('required')">
              Silahkan isi Password.
            </ion-chip>
            <ion-chip color="danger" *ngIf="isSubmitted && chip_err=='password_salah'">
              Password Salah.
            </ion-chip>
          </ion-item>

          <br>
          <div>
            <ion-button class="ion-margin" expand="block" type="submit">Login</ion-button>
          </div>
          <!-- <div>
            <ion-button class="ion-margin" fill="clear" [routerLink]="['/registrasi']">Registrasi Baru</ion-button>
          </div> -->
        </ion-card-content>
      </ion-card>
    </form>
  </div>

</ion-content>