/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background: #ecf0f1;
}

ion-card {
    margin-bottom: 16px;
}

ion-chip {
    border-radius: 6px;
    margin-left: 0;
    padding: 0 6px;
}

ion-footer {
    padding: 4px 8px;
}

ion-input {
    --placeholder-color: #999 !important;
    --placeholder-font-style: italic !important;
    border-bottom: 2px solid #3880ff;
}

ion-item {
    margin-bottom: 16px;
}

ion-refresher-content {
    background-color: #ecf0f1;
    padding-bottom: 90px;
    padding-top: 30px;
}

ion-segment {
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

ion-spinner {
    width: 20px;
}

//-----

div,
h1,
h2,
h3,
h4,
ion-col,
ion-card-content {
    color: #34495e;
    font-size: 15px !important;
}

table {
    width: 100%;
    tr {
        td {
            padding: 12px 12px 10px 14px;
        }
    }
}

//-----

.foto_produk {
    border: 1px solid #f1f0f7;
    border-radius: 4px;
    width: 70px;
}

.peta {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 160px;
    width: 100%;
}
